**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/venv
data/
mobile/
k8s/
docs/
tests/
audio
LICENSE
README.md
*.wav
*.mp3
*.flac
*.ogg
*.m4a
howto_git.txt
docker_usage.md
.pre-commit-config.yaml
.github/
